<html>
    <head>
        <title>add a Contact!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
      <h1>Please add a new Contact<h1>

      <form action='/added' method='post'>
          <label for="contact">Contact Name</label>
          <input id="contact" name="contact" type="text">

          <button type="submit">Add Contact</button>
      </form>
    </body>
</html>
